body {
  background-color: rgb(23, 23, 23);
  min-height: 100vph;
  min-width: 100vpw;
  padding: 2%;
}
.wrapper {
  min-width: 100vpw;
  min-height: 50vph;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 1em;
  grid-template-areas:
    "box1 box1 box2 box3 box3"
    "box4 box4 box4 box4 box4";
}
.bentoBox {
  border-radius: 1rem;
  background-color: cadetblue;
  position: relative;
}
#noteLine {
  position: absolute;
  background-color: red;
  height: 100%;
  width: 3px;
  margin-left: 0%;
  transition: 5s linear;
}
.noteLines {
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(11, 1fr);
  height: 100%;
}
.noteLines > div {
  text-align: center;
}
.noteLines > div:hover {
  background-color: blue;
}
.control {
  padding: 1rem;
}
